
{%extends "index.html" %}
{%block content%}

    <div class = "container">
        <div class = "description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pellentesque viverra lorem, non condimentum purus vulputate iaculis. Suspendisse arcu elit, sollicitudin et fermentum eget, malesuada non ligula. Suspendisse eu dui sit amet est eleifend pretium ut non eros. Fusce imperdiet viverra purus, ut tristique enim semper eu. Nunc ligula est, cursus et leo quis, mattis pulvinar lacus. Nam fringilla mi eu mollis euismod. In accumsan, tortor vitae laoreet interdum, massa felis viverra magna, at vulputate augue purus id turpis. Curabitur vitae luctus est. Vivamus sagittis auctor mi, sed mattis arcu molestie sed. Praesent nisi erat, congue ut diam quis, interdum gravida tellus.
                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum elit id venenatis scelerisque. Curabitur augue nunc, tincidunt at magna quis, faucibus euismod orci. Quisque sit amet semper sem. Vestibulum sed arcu ac nisi lacinia fermentum quis consequat augue. Donec convallis orci sed ultricies venenatis. Donec quis eros sit amet sapien varius tempor. Duis pharetra odio nunc, ac varius magna tempus a. Sed ac leo eu sem egestas fringilla. Aliquam congue nunc vitae sem hendrerit faucibus. Phasellus consequat sollicitudin iaculis. Nunc id massa congue, semper lorem sit amet, mollis quam.</div>
        <span class = "photo-border"></span>

    </div>

{% endblock %}
